swagger: "2.0"
info:
  version: 1.0.0
  title: "prova_esame"
  description: Una API per vedere, inserire, modifare ed eliminare assignments
  termsOfService: http://swagger.io/terms/
  contact:
    name: Stefano Baggetto
    email: stefano.baggetto@studenti.unitn.it
    url: https://miosito.it
  license:
    name: N/A
    url: N/A
host: provaesame06122017.heroku
basePath: /api
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /assignments:
    get:
      description: | 
        ritorna tutti gli assignments.
      operationId: findAssignments
      responses:
        200:
          description: assignments response
          schema:
            type: array
            items:
              $ref: '#/definitions/Assignment'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      description: Creates a new assignment in the DB.  Duplicates are allowed
      operationId: addAssignment
      parameters:
        - name: assignment
          in: body
          description: assignment to add to the DB
          required: true
          schema:
            $ref: '#/definitions/NewAssignment'
      responses:
        200:
          description: assignment response
          schema:
            $ref: '#/definitions/Assignment'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /assignment/{id}:
    get:
      description: Returns a user based on a single ID, if the user does not have access to the pet
      operationId: find assignment by assignmentID
      parameters:
        - name: id
          in: path
          description: ID of assignment to fetch
          required: true
          type: integer
          format: int64
      responses:
        200:
          description: assignment response
          schema:
            $ref: '#/definitions/Assignment'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      description: deletes a single assignment based on the assignmentID supplied
      operationId: deleteAssignment
      parameters:
        - name: id
          in: path
          description: ID of assignment to delete
          required: true
          type: integer
          format: int64
      responses:
        204:
          description: assignment deleted
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  Assignment:
    allOf:
      - $ref: '#/definitions/NewAssignment'
      - required:
        - assignmentContent
        properties:
          assignmentContent:
            type: string
  NewAssignment:
    required:
      - assignmentID
      - studentID
    properties:
      assignmentID:
        type: string
      tag:
        type: string
      studentID:
        type: string
  Error:
    required:
      - code
      - message
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string